/*
marron : #432918
vert : #95c11f
gris : #d1d2d4


*/
@font-face {
    font-family: 'Bellerose';
    src: url('../fonts/BelleroseLight.woff2') format('woff2'),
        url('../fonts/BelleroseLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'StonyIslandNF';
    src: url('StonyIslandNF.woff2') format('woff2'),
        url('StonyIslandNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding : 0px;
    margin : 0px;
}

header, main{
    margin :auto;
    display : grid;
    grid-template-columns : 1fr 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 1fr ;
    grid-template-rows : 80px auto auto;
}
#logo-nav{
    z-index : 1;
    margin : 8px 0;
    width : 108px;
    grid-column : 2/3;
    grid-row : 1/1;

}
header>nav{
    z-index : 0;
    background-color: #d1d2d4;
    grid-column : 1/13;
    grid-row : 1/1;
    box-shadow: 0px 3px 8px #555; 
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

header nav ul li {
    display : block;
    padding : 20px;
    border-left: 1px solid #432918 ;
}

header nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color : #432918;
    padding : 0px ;
    
}

header nav ul li a:hover {
    color: #95c11f;
}

h1{
    display: flex;
    flex-direction: row;
    align-content:  center;
    font-family: 'StonyIslandNF';
    letter-spacing: 2px;
    font-size: 60px;
    text-align: center;
    color : #d1d2d4;
}

h2{
    display: block;
    font-family: 'Bellerose';
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
    color : #432918;
}

h3{
    display: block;
    font-family: 'Bellerose';
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    color : #95c11f;
}

p{
    color:#666;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#Les-ateliers{
    margin : auto;
    grid-column : 3/5;
    grid-row : 2/2;
}
#depuis{
    margin : auto;
    grid-column : 9/11;
    grid-row : 2/2;
}

#logo {
    z-index : 1;
    display : block;
    margin : auto;
    width : 400px;
    grid-column : 2/12;
    grid-row : 2/3;
     box-shadow: none; 
}


#caroussel{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    grid-column : 1/13;
    grid-row : 3/4;
}
#caroussel figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

#caroussel figure img {
    width: 20%;
    height: auto;
    float: left;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
article div {
    text-align: center;
} 

main article ul li{
    display : block;
    margin : auto;
    width: 110px;
    padding : 20px;
    border: 1px solid #432918 ;
    
}
main article ul li:hover{
    border: 1px solid #432918 ;
    background-color: rgba(255, 255, 255, .5);
}

main article ul li a {
    text-decoration : none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : #666;
}

#histoire{
    grid-column : 1/7;
    grid-row : 2/2;
    background-color: rgba(141, 198, 63, .2);
}

#savoirFaire{
    grid-column : 7/13;
    grid-row : 2/2;
    background-color: rgba(60, 36, 21, .2);
}
    

#environnement{
    grid-column : 1/12;
    grid-row : 3/3;
    background-color: #fff;
}
#environnement>p{
    padding: 0px 80px 10px 80px;
}

footer {
    display : grid;
    grid-template-columns : 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% ;
    grid-template-rows : 200px;
    background-color: #666;
}

footer nav ul li {
    display: block;
    text-decoration: none;
}
footer nav ul li a {
    text-decoration: none;
    color : #95c11f ;
}

#nav-footer{
    grid-column : 2/6;
    grid-row : 1/1;
    border : solid 1px black;
}
#mentions-site{
    grid-column : 6/10;
    grid-row : 1/1;
    border : solid 1px black;
}

#reseaux{
    display : block;
    grid-column : 10/11;
    grid-row : 1/1;
    border : solid 1px black;
}